In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [3]:
dir_ = "100"
meth_ = "greedy"

In [15]:
# std rf fo 
perc_ = "75"

file = f"../qkp_jl/result/{dir_}/{meth_}_{dir_}_{perc_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['instance','gre','ls','time']

resume = pd.DataFrame({
    'instance':f"{perc_}",
    'gre':table['gre'].mean(),
    'ls':table['ls'].mean(),
    'time':table['time'].mean()
    },index=["resume"]
)

table = pd.concat([table, resume], ignore_index=True)
table

                          instance      gre       ls          time
0    ../instances/100/100_75_1.txt   9977.0   9993.0  1.844674e+10
1    ../instances/100/100_75_2.txt  53599.0  54001.0  1.844674e+10
2    ../instances/100/100_75_3.txt  63157.0  64639.0  1.844674e+10
3    ../instances/100/100_75_4.txt  66471.0  67279.0  1.844674e+10
4    ../instances/100/100_75_5.txt  79430.0  80795.0  1.844674e+10
5    ../instances/100/100_75_6.txt   5398.0   5398.0  1.844674e+10
6    ../instances/100/100_75_7.txt  67650.0  68095.0  1.844674e+10
7    ../instances/100/100_75_8.txt  24416.0  24856.0  1.844674e+10
8    ../instances/100/100_75_9.txt  56313.0  56792.0  1.844674e+10
9   ../instances/100/100_75_10.txt  72882.0  73276.0  1.844674e+10
10                              75  49929.3  50512.4  1.844674e+10

In [16]:
# std rf fo 
perc_ = "100"

file = f"../qkp_jl/result/{dir_}/{meth_}_{dir_}_{perc_}.txt"

df = pd.DataFrame()
df = pd.read_csv(file,header=None,sep=';')

table = pd.DataFrame()
table = pd.concat([table, df], ignore_index=True)
table.columns = ['instance','gre','ls','time']

resume = pd.DataFrame({
    'instance':f"{perc_}",
    'gre':table['gre'].mean(),
    'ls':table['ls'].mean(),
    'time':table['time'].mean()
    },index=["resume"]
)

table = pd.concat([table, resume], ignore_index=True)
table

                           instance       gre        ls          time
0    ../instances/100/100_100_1.txt   99893.0   99893.0  1.844674e+10
1    ../instances/100/100_100_2.txt   72068.0   72637.0  1.844674e+10
2    ../instances/100/100_100_3.txt   86740.0   86740.0  1.844674e+10
3    ../instances/100/100_100_4.txt   16295.0   16413.0  1.844674e+10
4    ../instances/100/100_100_5.txt   96555.0   97018.0  1.844674e+10
5    ../instances/100/100_100_6.txt   75271.0   76251.0  1.844674e+10
6    ../instances/100/100_100_7.txt  104172.0  105291.0  1.844674e+10
7    ../instances/100/100_100_8.txt   13283.0   13283.0  1.844674e+10
8    ../instances/100/100_100_9.txt   93253.0   93671.0  1.844674e+10
9   ../instances/100/100_100_10.txt   23201.0   23535.0  1.844674e+10
10                              100   68073.1   68473.2  1.844674e+10